<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <a href="/admin/users">Users</a><br>
    <a href="/admin/products">Products</a><br>
    <a href="/admin/orders">Orders</a><br>
    <a href="/logout">Logout</a> <br>   
    <a href="/">Home</a>
</body>
</html>