<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <h1>Orders</h1>
    <ul>
        <% orders.forEach((order) => { %>
            <li>
            <div style="border: 1px solid;
            border-color: black;
            border-radius: 5px;
            width: 30%;">
                    <div>
                        Order ID: <%= order.id %> <br>
                        Total: <%= order.total %> <br>
                        products: <ol>
                            
                        </ol>
                    </div>
                <a href="/admin/deleteOrder/<%= order.id %>/">Delete</a>
            </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>