<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <h1>Orders</h1>
    <ul>
        <% for(let i = 0; i < locals.orders.length; i++) { %>
            <li>
            <div style="border: 1px solid;
            border-color: black;
            border-radius: 5px;
            width: 30%;">
                    <div>
                        Order ID: <%= orders[i].id %> <br>
                        Total: <%= orders[i].total %> <br>
                        products: <ol>
                            <% products[i].forEach(product => { %>
                                <li> 
                                    <%= product.name %> 
                                </li>                                    
                            <% }); %>
                        </ol>
                    </div>
                <a href="/admin/deleteOrder/<%= orders[i].id %>/">Delete</a>
            </div>
            </li>
        <% } %>
    </ul>
    <a href="/admin">Home Admin</a>
</body>
</html>