<div>
    <a href="/"><img src="/images/swlogo.png" alt="Image Not Found" height="200" width="300" ></a>
</div>

<form action="/search" method="POST" class="searchbar">
    <input type="text" name="search" placeholder="Search">
    <button type="submit">Search</button>
</form>

<div class="intro">
    <h5>Welcome to this site of Star Wars merchendise</h5>
    <h6>The site is not official it's just a fan-made creation</h6>
</div>