body {
    background-image: url(/images/bg.jpg);
}

.intro {
    background-color: white;
    width: 20dvw;
    height: 20dvh;
    padding: 2dvh;
    border-radius: 5px;
}

.searchbar {
    background-color: white;
    width: 20dvw;
    padding: 2dvh;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    left: 40dvw;
    top: 5dvh;
}
